@charset "utf-8";
/* CSS Document */

/* ====================== Navigation ====================== */
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}



/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: calc(50% - 50px);
}
#restaurant-name {
  /* changed color for accessibility */
  color: #BC5A01;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-radius: 10px 0 0 0;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container, #new-review-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: calc(50% - 80px);
}
#reviews-container, #new-review-container {
  padding: 30px 40px 80px;
}
#reviews-container h2, #new-review-container h2 {
  color: #BC5A01;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
  display: flex;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
/* edit: add styling for individual reviews */
.reviewListing {
  display: flex;
  flex-wrap: wrap;
}
.reviewName {
  width: calc(100% - 120px - 4em);
  background-color: black;
  color: white;
  display: flex;
  padding: 0.75em;
  line-height: 2em;
  border-width: 0;
  border-color: black;
  border-radius: 10px 0 0 0;
}
.reviewDate {
  width: 120px;
  background-color: black;
  color: gray;
  display: flex;
  padding: 1em;
  text-align: right;
  border-width: 0;
  border-color: black;
}
.reviewRating {
  background-color: #BC5A01;
  color: white;
  text-transform: uppercase;
  padding: 0.5em;
}



/* ====================== Restaurant Review Form ====================== */
input, textarea {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
}

input {
  height: 35px;
  width: auto;
}

textarea {
  width: 85%;
  height: 105px;
}

label {
  font-size: 14pt;
  font-weight: bold;
}

.submit {
  /* changed color for accessibility */
  background-color: #BC5A01;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  // padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#formID {
  display: none;
}

#submitReview {
  background-color: #BC5A01;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 150px;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.submit:hover, .submit:focus, #submitReview:hover, #submitReview:focus {
  /* change color for accessibility */
  color: #007dbb;
  text-decoration: none;
  /* add focus */
  box-shadow: 0 0 8px 3px;
}