@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
  /* changed color for accessibility */
  color: #BC5A01;
	text-decoration: none;
  margin-left: 2px;
  margin-right: 2px;
}
a:hover, a:focus, button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus {
  /* change color for accessibility */
  color: #007dbb;
  text-decoration: none;
  /* add focus */
  box-shadow: 0 0 8px 3px;
}
a img {
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
select:hover, select:focus {
  text-decoration: none;
  /* add focus */
  box-shadow: 0 0 8px 3px;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #fff; /* improve contrast for accessibility */
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

#footer strong {
  color: #FFA500; /* added to improve contrast*/
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  height: em;
  /* changed color for accessibility */
  background-color: #007dbb;
  align-items: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 2;
  margin: 0 20px;
}
.filter-options select, #formRating {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
#restaurants-list li h1 {
  /* changed color for accessibility */
  color: #BC5A01;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  /* changed color for accessibility */
  background-color: #BC5A01;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
#restaurants-list li a:hover, #restaurants-list li a:focus {
  /* change color for accessibility */
  color: #007dbb;
  text-decoration: none;
  /* add focus */
  box-shadow: 0 0 8px 3px;
}
.buttonBlue {
  /* changed color for accessibility */
  background-color: #007dbb;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;}

.buttonOrange {
  /* changed color for accessibility */
  background-color: #BC5A01;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 87%;
  position: fixed;
  right: 0;
  top: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  bottom: 0;
  position: absolute;
  width: calc(50% - 50px);
}
#restaurant-name {
  /* changed color for accessibility */
  color: #BC5A01;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  border-radius: 10px 0 0 0;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}
#restaurant-container, #reviews-container, #new-review-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 40px 30px;
  width: calc(50% - 80px);
}
#reviews-container, #new-review-container {
  padding: 30px 40px 80px;
}
#reviews-container h2, #new-review-container h2 {
  color: #BC5A01;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
    border: 2px solid #f3f3f3;
  list-style-type: none;
  margin: 0 auto 30px;
  overflow: hidden;
  position: relative;
  width: 85%;
  display: flex;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}
/* edit: add styling for individual reviews */
.reviewListing {
  display: flex;
  flex-wrap: wrap;
}
.reviewName {
  width: calc(100% - 120px - 4em);
  background-color: black;
  color: white;
  display: flex;
  padding: 0.75em;
  line-height: 2em;
  border-width: 0;
  border-color: black;
  border-radius: 10px 0 0 0;
}
.reviewDate {
  width: 120px;
  background-color: black;
  color: gray;
  display: flex;
  padding: 1em;
  text-align: right;
  border-width: 0;
  border-color: black;
}
.reviewRating {
  background-color: #BC5A01;
  color: white;
  text-transform: uppercase;
  padding: 0.5em;
}


/* Responsive Layout */

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#hideMap {
  height: 0px;
}
/* Media Queries */

/* Small Screens */
@media screen and (max-width: 500px) {
  #restaurants-list {
    width: 90%;
  }

  #restaurants-list li {
    width: auto;
    min-height: auto;
  }

  #restaurants-list .restaurant-img {
    min-height: auto;
  }

  nav h1 {
    width: 80%;
    text-align: left;
    display: flex;
  }

  .nav-right {
    width: 10%;
    text-align: right;
    color: white;
    display: flex;
  }

   /* convert to element from class */

  .filter-options {
    width: 300px; /* Off Canvas update */
    height: 175px;  /* Off Canvas add */
    position: absolute; /* Off Canvas add */
    -webkit-transform: translate(-600px, 0);
    transform: translate(-600px, 0); /* Off Canvas add */
    transition: transform 0.3s ease; /* Off Canvas add */
    /* deprecate margin info */
    z-index: 1;
  }

  /* add open class that resets the transform */

  .filter-options.open {
    -webkit-transform: translate(0, 0);
    transform: translate (0, 0);
  }
}

@media screen and (max-width: 800px) {
  /* restaurant pages */
  #breadcrumb {
    width: calc(100% - 80px);
  }

  .inside #map-container {
    height: 300px;
    position: relative;
    width: 100%;
  }

  #restaurant-container, #reviews-container #new-review-container {
    width: 90%;
    max-width: 450px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
  }

  .inside #footer {
    width: calc(100% - 50px);
  }

  #reviews-list {
    margin-bottom: 100px;
  }

  #footer {
    width: calc(100% - 50px);
  }
}

/*
@media screen and (max-width: 640px) {
  #map {
    display: none;
  }
}
*/

/*
@media screen and (min-width: 641px) {
  #staticMap {
    display: none;
  }
}
*/


/* ====================== Restaurant Review Form ====================== */
input, textarea {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
}

input {
  height: 35px;
  width: auto;
}

textarea {
  width: auto;
  height: 105px;
}

label {
  font-size: 14pt;
  font-weight: bold;
}

.submit {
  /* changed color for accessibility */
  background-color: #BC5A01;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  // padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

#formID {
  display: none;
}

#submitReview {
    background-color: #BC5A01;
    border-bottom: 3px solid #eee;
    color: #fff;
    display: inline-block;
    font-size: 10pt;
    margin: 15px 0 30px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;